<form (ngSubmit)="onSubmit()" #formulario="ngForm" class="form-container" novalidate>
  <fieldset>
    <legend class="form-legend">Inserta tu queja</legend>

    <!-- Nombre -->
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input type="text" id="nombre" name="nombre" class="form-control"
             required [(ngModel)]="queja.nombre" #nombre="ngModel">
      @if (submitted && nombre.invalid) {
        <div class="text-danger mt-2">
          El nombre es obligatorio.
        </div>
      }
    </div>

    <!-- Correo -->
    <div class="mb-3">
      <label for="correo" class="form-label">Correo electrónico:</label>
      <input type="email" id="correo" name="correo" class="form-control"
             required [(ngModel)]="queja.correo" #correo="ngModel">
      @if (submitted && correo.invalid) {
        <div class="text-danger mt-2">
          El correo electrónico es obligatorio y debe ser válido.
        </div>
      }
    </div>

    <!-- Fecha -->
    <div class="mb-3">
      <label for="fecha" class="form-label">Fecha del evento:</label>
      <input type="date" id="fecha" name="fecha" class="form-control"
             required [(ngModel)]="queja.fecha" #fecha="ngModel"
             [max]="hoy">
      @if (submitted && fecha.invalid) {
        <div class="text-danger mt-2">
          La fecha es obligatoria.
        </div>
      }
    </div>

    <!-- Mensaje -->
    <div class="mb-3">
      <label for="motivo" class="form-label">Mensaje:</label>
      <textarea id="motivo" name="motivo" class="form-control"
                required [(ngModel)]="queja.motivo" #mensaje="ngModel"></textarea>
      @if (submitted && mensaje.invalid) {
        <div class="text-danger mt-2">
          El mensaje es obligatorio.
        </div>
      }
    </div>

    <!-- Opciones (Checkboxes) -->
    <div class="mb-3">
      <label class="form-label">Opciones relacionadas:</label>
      @for (opcion of opcionesDisponibles; track opcion) {
        <div class="form-check">
          <input class="form-check-input" type="checkbox"
                 [checked]="queja.opciones.includes(opcion)"
                 (change)="handleChange($event, opcion)"
                 id="{{ opcion }}" />
          <label class="form-check-label" [for]="opcion">{{ opcion }}</label>
        </div>
      }
      @if (submitted && !tieneOpcionesSeleccionadas()) {
        <div class="text-danger mt-2">Selecciona al menos una opción.</div>
      }
    </div>

    <!-- Radio Buttons -->
    <div class="mb-3">
      <label class="form-label">Nivel de gravedad:</label>
      @for (nivel of ['Baja', 'Media', 'Alta']; track nivel) {
        <div class="form-check">
          <input type="radio" name="gravedad" [(ngModel)]="queja.gravedad"
                 [value]="nivel" [id]="nivel" class="form-check-input" />
          <label class="form-check-label" [for]="nivel">{{ nivel }}</label>
        </div>
      }
      @if (submitted && queja.gravedad === '') {
        <div class="text-danger mt-2">Selecciona un nivel de gravedad.</div>
      }
    </div>

    <!-- Botón de Envío -->
    <button type="submit" class="btn btn-primary" >
      Enviar Queja
    </button>
  </fieldset>
</form>
